.title-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: left;
  padding: 10px;
  background-color: transparent;
}

.title-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: inline-block;
  min-width: 300px;
  padding: 20px;
}
.main-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  color: gray;
}

.text {
  font-size: 0.875rem;
  color: #666;
}

/* Question mark button for small screens */
.rules-toggle-button {
  display: none;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.rules-toggle-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Rules box (visible only for large screens) */
.rules-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 300px;
}

/* Full-screen rules modal for small screens */
.rules-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.rules-modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 1200px) or (max-height: 900px) {
  .rules-box {
    display: none;
  }

  .rules-toggle-button {
    display: inline-block;
  }

  .title-box {
    min-width: calc(100% - 40px);
  }
}
